{% trans_default_domain 'FOSUserBundle' %}

{% extends '@FOSUser/form.html.twig' %}

{% block form %}

    <h1>
        {{ title }}
    </h1>

    {{
        form_start(
            form,
            {
                'method': 'post',
                'action': path('fos_user_registration_register'),
                'attr': {
                    'class': 'fos_user_registration_register'
                }
            }
        )
    }}

    {{ form_widget(form) }}

    <input
            type="submit"
            class="btn btn-success"
            value="{{ 'registration.submit'|trans }}"
    >

    {{ form_end(form) }}
{% endblock %}
