{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
    {{ text.title }}
{% endblock %}

{% block body %}
    <div
            class="page-header"
    >
        <div
                class="btn-toolbar pull-right"
        >
            <div
                    class="btn-group"
            >
                <button
                        type="button"
                        class="btn btn-default"
                        data-toggle="modal"
                        data-target="#edit-text-title-modal"
                        id="js-edit-text-title-modal"
                >
                    {{ 'app.edit_title'|trans }}
                </button>
                <button
                        type="button"
                        class="btn btn-primary"
                        id="js-save-text-body-button"
                        data-url="{{ path(
                            'app_text_show', {
                                'username': app.user.username,
                                'slugBody': text.currentSlug.body,
                            }
                        ) }}"
                >
                    Save text
                </button>
            </div>
        </div>
        <h1>
            {{ text.title }}
            <small
                    id="js-status-text-container"
            >
                All changes saved
            </small>
        </h1>
    </div>

    <div
            class="row"
    >
        <div class="
                col-xs-12
                col-md-8
                col-md-offset-2
             "
             id="js-editor"
        >
            {{ form_start(bodyForm) }}
            {{ form_widget(bodyForm) }}
            {{ form_end(bodyForm) }}
        </div>
    </div>

    {% include ':components/modal:form.html.twig' with {
        'modal_id': 'edit-text-title-modal',
        'modal_title': 'app.edit_title'|trans,
        'submit_button_value': 'app.save'|trans,
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      $(document).ready(function() {
        var $wrapper = $('#js-editor');
        var $form = $wrapper.find('form');
        var $statusText = $('#js-status-text-container');
        var $textarea = $wrapper.find('textarea');
        var timeoutId;

        $textarea
          .on(
            'input propertychange change selectionchange',
            function() {
              $statusText.html('Saving draft…');

              clearTimeout(timeoutId);
              timeoutId = setTimeout(function() {

                $.ajax({
                  type: $form.attr('method'),
                  url: $form.attr('action'),
                  data: $form.serialize()
                })
                  .done(function(response) {
                    $statusText.html('Draft saved');
                  })
                ;
              }, 1000);
            }
          )
        ;

        var $saveTextBodyButton = $('#js-save-text-body-button');

        $saveTextBodyButton
          .on(
            'click',
            function() {
              $(this).prop('disabled',true);

              $.ajax({
                type: 'POST',
                url: window.location.href,
                data: {
                  'save': true
                }
              })
                .done(function(response) {
                  if (response === 'text successfully saved') {
                    window.location.href = $saveTextBodyButton.data('url');
                  }
                })
              ;

            }
          )
      });
    </script>
{% endblock %}
